* {
    font-family: DM Sans;
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #00C1FA;
    position: sticky;
}

.side-item.heading {
    padding: 1rem 3.25rem;
    margin: 1rem 0;
}

#icon-favicon {
    width: 4.5rem;
    vertical-align: middle;
    margin-right: 1rem;
}

h1 {
    display: inline;
    vertical-align: middle;
}

.side-item {
    cursor: pointer;
    padding: 0.5rem 5rem;
    transition: transform 0.1s ease-in-out;
}

.side-item:hover {
    transform: scale(1.1);
}

.side-item svg {
    vertical-align: middle;
    width: 1.5rem;
    margin-right: 0.75rem;
}

.side-item span {
    vertical-align: middle;
    font-weight: bold;
    font-size: larger;
}

#communities {
    margin-bottom: 2rem;
}

.contents {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6rem;
    justify-content: space-between;
    padding: 0 1.25rem;
    gap: 25px;
    box-shadow: 0px 2px 10px rgb(169, 169, 169);
    z-index: 2;
    position: sticky;
}

.input-div {
    display: flex;
    flex: 1;
    position: relative;
    height: 100%;
    align-items: center;
}

input {
    flex: 1;
    height: 50%;
    border: none;
    border-radius: 25px;
    background-color: rgb(223, 235, 236);
    padding: 0 50px;
    font-size: large;
    vertical-align: baseline;
    box-shadow: inset 2px 2px 2px rgb(169, 169, 169);
}

.input-div button {
    position: absolute;
    left: 0;
    margin-left: 15px;
    height: 40%;
    border-radius: 25%;
    width: 2rem;
    border: none;
    background-color: transparent;
}

.input-div > button > svg {
    width: 100%;
}

.other-navs {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.other-navs button {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 6px;
    background-color: transparent;
    border: none;
}

.other-navs button svg {
    width: 22.5px;
}

button svg {
    width: 10px;
}

#github-link {
    height: 50px;
}

#pfp {
    width: 50px;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0 10px;
}

.profile-info span {
    font-weight: 700;
}

.projects {
    background-color: rgb(223, 235, 236);
    flex: 1;
    z-index: 1;
    overflow-y: scroll;
    padding-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
}

.projects h1 {
    padding: 20px;
}

.grid div {
    background-color: white;
    height: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px silver;
    border-left: #00C1FA 17px solid;
}

.grid div:nth-child(-n+3) a {
    text-shadow: 0.5px 0.5px 2px gray;
    text-decoration: none;
}

a:visited {
    color: black;
}

.grid a {
    font-weight: bold;
    font-size: x-large;
}

.grid p {
    margin-top: 1.5rem;
}